.campus{
    margin: 80px auto;
    width: 90%;
    text-align: center;

}

.gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.gallery img{
    width: 23%;
    border-radius: 10px;
}
.btn1{
    background:rgb(26, 26, 146);
    color: #ffffff;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn1 img {
    width: 20px;
    margin-left: 10px;
    
}

/* media query */


@media (max-width:800px) {
    .gallery{
        flex-wrap: wrap;
    }
    .gallery img{
        width: 48%;
        margin-bottom: 25px;
    }
}